@font-face {
	font-family:Inter;
	src:url(images/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
	font-family:Lexend Deca;
	src:url(images/Lexend_Deca/LexendDeca-Regular.ttf);
}

body {
	background-color: hsl(233, 47%, 7%);
}
.container {
	display: grid;
	grid-auto-flow: row;
  	justify-content: center;
  	align-items: center;
  	position: relative;
	font-size: 15px;
}

.card {
	background-color: hsl(244, 38%, 16%);
}

.card_container {
	display: grid;
  	grid-template-columns: 50% 50%;
  	text-align: center;
	justify-content: center;
}

.left_part_card {
	grid-column: 1;
	font-family: Lexend Deca;
	font-weight: 400;
}

.right_part_card {
	grid-column: 2;
}

.header_card {
	grid-row: inherit;
	color:hsl(0, 0%, 100%);
	font-family: Inter;
	font-weight: 700;
	display: flex;
	align-items: center;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 2em;
}

.text_card {
	grid-row: inherit;
	display: flex;
	align-items: center;
	margin-left: 10%;
	margin-right: 10%;
}

.footer_card {
	grid-row: inherit;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-transform: uppercase;
}

#important_text {
	color: hsl(277, 64%, 61%);
}

.text_notImportant {
	color: hsla(0, 0%, 100%, 0.6);
	font-family: Inter;
	font-weight: 100;
}

.text_Number {
	color:hsl(0, 0%, 100%);
	font-family: Inter;
	font-weight: 700;
}


