@font-face {
	font-family:Inter;
	src:url(images/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
	font-family:Lexend Deca;
	src:url(images/Lexend_Deca/LexendDeca-Regular.ttf);
}

body {
	background-color: hsl(233, 47%, 7%);
}
.container {
	display: grid;
	grid-template-columns: 40px 50px auto 50px 40px;
  	grid-template-rows: 5% 10px auto;
	font-size: 15px;
}

.card {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: row1-start;
	grid-row-end: 3;
	background-color: hsl(244, 38%, 16%);
}

.card_container {
	display: grid;
	grid-template-columns:  50% 50%;
	justify-content: center;
}

.left_part_card {
	grid-column-start: 1;
	grid-column-end: 1;
	font-family: Lexend Deca;
	font-weight: 400;
	display: flex;
	flex-direction: column;
}

.right_part_card {
	grid-column-start: 2;
	grid-column-end: 2;
	background-size: cover;
}

.header_card {
	color:hsl(0, 0%, 100%);
	font-family: Inter;
	font-weight: 700;
}

.footer_card {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-transform: uppercase;
}

#important_text {
	color: hsl(277, 64%, 61%);
}

.text_notImportant {
	color: hsla(0, 0%, 100%, 0.6);
	font-family: Inter;
	font-weight: 100;
}

.text_Number {
	color:hsl(0, 0%, 100%);
	font-family: Inter;
	font-weight: 700;
	/*color: hsla(0, 0%, 100%, 0.75); */
}


